

body {
	font-size: 12px;
    background-color: linen;
}
.container{

position: absolute;
	width: 98%;
	height: 98%;
}
.map {
	 height: 98%; 
	 width: 98%;

}

.leyenda{

	top: 1%;
	opacity:0.95;
	border-radius:15px;
	z-index: 10;
	left: 78%;
	width:17%;
	height: 60%;
	position: relative;
	top:5px;
	font-size: 12px;
	background-color: white;
	padding: 10px 30px 30px 20px;
	 overflow-y: hidden;
	 cursor:pointer;

}

.info{
	position: relative;
	opacity:0.95;
	left: 78%;
	width:20%;
	z-index: 12;
	border-radius:15px;
	position: relative;
	opacity: 0;
	height: 0px;

	background-color :white;
}