

body {
	font-size: 12px;
    background-color: linen;
}
.container{

position: absolute;
	width: 98%;
	height: 98%;
}
.map {
	 height: 98%; 
	 width: 98%;

}

.leyenda{


	opacity:1;
	border-radius:15px;
	z-index: 10;
	left: 78%;
	width:17%;
	height: 82%;
	position: relative;

	font-size: 12px;
	background-color: white;
	padding: 10px 30px 30px 20px;
	overflow-y: auto;
	cursor:pointer;

}

.info{

	top:90%;
	position: relative;
	z-index: 10;
	width:100%;
	z-index: 10;
	opacity: 0;
	height: 0px;
	background-color :white;
}